/**/
/*Dimensione Browser: 1024x768*/

body {
    background-image: url(/G3/Pratica/assets/img/pexels-vijay-saiwal-4810501.jpg);
    background-size: cover;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    }

button {  /* definições gerais dos botões*/
    background-color: white;
    color: rgb(66, 74, 117);
    border: 2px solid rgb(66, 74, 117);
    border-radius: 5px;
    padding: .3rem .6rem; /* tamanho botão*/
    font-size: 1rem;
    cursor: pointer; /* mão no botão*/
    justify-content: center;
    align-items: center;
    transition: 0.3s;
 }

button:hover {  /* cor do botão quando o usuário colocar o mouse em cima*/
    background-color:rgba(27, 32, 56, 0.986) ;
    color: white;
}

button:hover > i {  /* cor do icone quando o usuário colocar o mouse em cima*/
    color: white;
}

button i {
    color: rgb(214, 0, 0);
    font-weight: bold;
    pointer-events: none; /*desabilita o click no icone, deixando apenas a ação no botão*/
}

input {
    padding: 0.35rem 0.5rem;
}    

h4 {
    text-align: center;
    color:rgb(201, 195, 195);
    font-size: 1.5rem;
    padding: 7px;
}

#pratica {
    background-color: black;
    max-width: 250px;
    padding-left: 25px;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 0px rgba(2, 2, 2, 0.411);   
}

#bloco1{
    background-color:aliceblue;
    box-shadow: 4px 4px 8px 0px rgba(2, 2, 2, 0.411);
    border-radius: 20px;
    max-width: 450px;
    margin: 3rem auto;
}

 #bloco2  {
    max-width: 450px;
    margin: 3rem auto;
    background-color: aliceblue;
    padding: 1.5rem;
    padding-top: 0.1rem;
    border-radius: 20px;
    margin-bottom: 0px;
    box-shadow: 4px 4px 8px 0px rgba(2, 2, 2, 0.411);
}

h1 {
    text-align: center;
    font-size: 3rem;
    padding: 20px;
}

#task {
    width: 70%;
}

.button {
    float: right;
    font-size: 0.6rem;
    border-radius: 5px;
    padding: 5px 5px;
    margin-top: 4px;
}

 li{
    width: 400px;     
    font-size: 1.2rem; 
    padding: 5px 5px;
 }

.barrato {
    color: rgb(117, 120, 138);
    text-decoration: line-through;
}