@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Spectral:wght@400;500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none; 
   font-family: 'Roboto', sans-serif;
}

body {
    font-size: 100%;
    background: black;
}

/* MENU */

#TvShow{
    font-size: 40px;   
    margin-left: -20px; 
    font-weight: bold;    
}

#navbarDropdownUser { 
    border: none;
    background-color: rgba(31, 31, 31, 0);
    color: white;   
    padding-right: 20px; 
}

 /* TV Show */
#navbarDropdown {
    border: 1px solid white;
    background-color: black;   
 }

 #navbarDropdownOp {
    border: 1px solid white;
    background-color: black; 
    padding: 8px 20px 8px 20px;
 }

  /* CAROUSEL */

:root {
    --itemGrow: 1.2;
    --duration: 250ms;
   }
   
   .trending-title {
    margin-top: 30px;
   }

   .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;    
   }
   
   .wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
   }
   
   .wrapper section .item {
    position: relative;
    padding: 0 2px;
    transition: var(--duration) all;
   }
   
   .wrapper section .item:hover {
    margin: 0 40px;
    transform: scale(var(--itemGrow));
   }
   
   .wrapper section .item .heading {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
   }
   
   .wrapper section .item .duration {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: #fff;
   }
   
   .wrapper section .arrow__btn {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: rgb(0, 0, 0);
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
   }
   
   .wrapper section .left-arrow {
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
   }
   
   .wrapper section .right-arrow {
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
   }

     /* FOOTER */


   .navbar-footer{    
    display: inline-flex;
    list-style-type: none;
    font-size: 25px;
    margin-left: -50px;
    margin-top: 70px;
   }

 
   #navbarDropdownCode{
    background: black;
    color: #999;
    border: 1px solid #999;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
   }
  .footer-nav li a {
        color: #999;
        font-size: 15px;
    }
  .footer-nav li a:hover {
        color: #ffffff;
    }
   
