/* IMPOSTAZIONI GENERALI */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&family=Roboto:ital,wght@1,100&display=swap');

  body {
    background-image: url(/sett1/G4/esercizio/assets/img/sfondo.png);
    font-family: "Poppins", sans-serif;
  }

/* HEADER */

header {    
    background: rgb(1,143,177);
    background: linear-gradient(350deg, rgba(1,143,177,1) 0%, rgba(15,107,129,1) 100%);   
    margin: 1rem;
    box-shadow: 4px 4px 8px, -4px -4px 8px #666;
    padding-top: 30px ;
    padding-bottom: 30px ;
 }

 #menu {
    text-align: center;  
    color:#FFFFFF;
    font-weight: bold;
    }

 #listaMenu {
    list-style-type: none;
    margin-block-start: 0px;
    padding-inline-start: 0px;
    }

 /*#listaMenu li::before{
    content: '⭐';
 }   */

/* MAIN */

main {
    background-color:#FFFFFF;
    margin: 1rem;
    box-shadow: 4px 4px 8px, -4px -4px 8px #666;
    font-weight: bold;
    padding-top: 15px ;
    padding-left: 20px;
}

/* ELEMENTI NEL MAIN - ARTICLE */ 

#autore {
    color:#AFAFAF;
    font-weight: normal;
}

.viola {
    color:#A32C75;
}

.bagge {
    background-color:#E3E3E3;
    border: 1px solid #969494 ;
    border-radius: 5px;    
}

/* TABELLE */

table{
    border-bottom: solid #3F6BCA;
   border-collapse: collapse;  
}

td{
    border: solid 0px;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
