@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Spectral:wght@400;500;600;700&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Spectral', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
  }

  

/*                  header                        */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-bottom: #191919 solid 1px;
    background: #ffc017;
    z-index: 1;    
  }
  
  .medium-logo {
    height: 25px;  
  }
  
  .menu-nav {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  
  .menu-item {
    font-family: 'Roboto', sans-serif;
    color: #191919;
    font-weight: 400;
    font-size: 14px
  }

  #button-get {
    background: #191919; /*  green > #1a8917 */
    color: white;
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 100px;
  }

/* + color :houver */


  /*                  main                        */

  /* contenitore-principale */
  .contenuto {
    padding-top: 80px;    
  }

  .contenitore-principale {
    background: #ffc017;
    border-bottom: #191919 solid 1px;
    display: flex;  
    /*flex-direction: row;*/
    align-items: center;
    height: 450px; 
    max-height: 80vh; 
    position: relative; 
}

.principale {
    flex: 1; /* Ocupa o espaço restante no contêiner */
    padding-left: 100px;
    display: flex;
    flex-direction: column;   
  }
  
h1 {
    font-family: 'Spectral', serif;
    font-weight: 600;
    font-size: 80px;
    color: #191919;
}

.h2-principale {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #191919;
}

  /* m-container */
  .m-container {
    flex-shrink: 0; /* Impede que o contêiner do SVG encolha */
  }

  #button-start {
    background: #191919; 
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 200px;
    margin-top: 30px;
  }

  /* contenitore-secondario */

.contenitore-secondario {    
    display: flex;
    flex-direction: column;
    padding: 30px;      
}

.trending-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

 .user-tranding {   
    display: flex;        
    flex-flow: row wrap;
    justify-content:space-around;
   
}

.h2-trending {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;    
}

.trending-span {
    display: flex;     
    width: 350px; 
    height: 100px;    
    margin: 5px;     
}

.trending-numer {
    color: #E6E7E7;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;        
    align-self: flex-start;
}

.user-info {
    display: flex;    
}

.img-user {   
    margin-left: 15px;
    margin-top: 5px;
    height: 25px;
    border-radius: 50%;
    align-self: flex-start;    
}

.img-user2 {   
    margin-left: 15px;
    margin-top: 5px;
    height: 25px;
    border-radius: 30%;
    align-self: flex-start;    
}

.text-info {   
    margin-left: 10px;    
}

.name-user {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 600;   
    padding-top: 10px; 
    padding-bottom: 5px;      
}

.h2-standard {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold; 
}

.p-date {
    font-family: 'Roboto', sans-serif;
    color: #757575;
    font-size: 13px;    
}

.in-span{
    color: #7575759a;
}

.date-star{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.img-star {
    padding-left: 5px;
}

  /* contenitore-terzo */


  .contenitore-terzo {    
    display: flex;    
    border-top: #75757534 solid 1px;
    padding-top: 55px;  
}

  .union {
    display: inline-block;    
    margin-left: 10vh;
  }

 .user-text {
    display: flex;    
    flex-direction: row; 
    align-items: flex-start;       
    flex-wrap: wrap; 
    padding-bottom: 50px;
}
 
 .h2-terzo { 
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold; 
    margin-left: 15px; 
 }

 .text-user {
    font-family: 'Roboto', sans-serif;
    color: #757575;
    font-size: 16px;
 }

 .fake-button {
    font-size: 15px;
    background: #EFF0F0;
    border: 4px solid #EFF0F0;
    color: gray;    
    border-radius: 50px;
 }

.img-text {
    margin-left: 15px;
    margin-top: 5px;
    height: 150px;
}
 
.img-mark {
    padding-left: 150px; 
    
}

 .more-matter {
    display: flex;
    float:inline-end;
    flex-direction: column;
    align-items:flex-start;       
    width: 35vh; 
    height: 40vh;  
    
}

.menu-footer {
    display: flex;       
    align-items:center;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;     
}

.button-union {  
    font-family: 'Roboto', sans-serif;
    color: #757575;
    font-size: 12px;   
    padding: 8px;
    border: 1px solid #dfe2e2;   
    border-radius: 2px;
    margin: 5px;
    flex-wrap: wrap;
}

.list-more {
    display: flex;  
    align-items:center;
    flex-wrap: wrap;
    border-top: #75757534 solid 1px; 
    margin-top: 5px;  
    padding-top: 20px;  
}


.list-union {
    font-family: 'Roboto', sans-serif;
    color: #757575;
    font-size: 12px;   
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;       
}

 