@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Spectral:wght@400;500;600;700&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Spectral', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
  }

  

/*                  header                        */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-bottom: #191919 solid 1px;
    background: #ffc017;
    z-index: 1;    
  }
  
  .medium-logo {
    height: 25px;  
  }
  
  .menu-nav {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  
  .menu-item {
    font-family: 'Roboto', sans-serif;
    color: #191919;
    font-weight: 400;
    font-size: 14px
  }

  #button-get {
    background: #191919; /*  green > #1a8917 */
    color: white;
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 100px;
  }

/* + color :houver */


  /*                  main                        */
  .contenuto {
    padding-top: 80px;    
  }

  .contenitore-principale {
    background: #ffc017;
    border-bottom: #191919 solid 1px;
    display: flex;  
    /*flex-direction: row;*/
    align-items: center;
    height: 450px; 
    max-height: 80vh; 
    position: relative; 
}

.principale {
    flex: 1; /* Ocupa o espaço restante no contêiner */
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
h1 {
    font-family: 'Spectral', serif;
    font-weight: 600;
    font-size: 105px;
    color: #191919;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #191919;
}

  /* m-container */
  .m-container {
    flex-shrink: 0; /* Impede que o contêiner do SVG encolha */
  }

  #button-start {
    background: #191919; 
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 200px;
    margin-top: 30px;
  }

